$primary-color: #22254b;
$second-color: #373b69;

* {
  box-sizing: border-box;
}
body {
  background-color: $primary-color;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
}
.header {
  padding: 1rem;
  background-color: $second-color;
  display: flex;
  justify-content: flex-end;
}
.search {
  padding: 5px;
  border-radius: 30px;
  border: 3px solid $primary-color;
  font-size: 20px;
  font-family: inherit;
  background-color: transparent;
  color: #fff;
  transition: 0.5s;
  &::placeholder {
    color: #fff;
  }
  &:focus {
    outline: none;
    background-color: $primary-color;
  }
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie {
  margin: 10px;
  border-radius: 10px;
  width: 300px;
  background-color: $second-color;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: relative;
  overflow: hidden;
  &__pictures {
    width: 100%;
  }
  &__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    & h3 {
      margin: 0;
    }
    & span {
      padding: 5px;
      border-radius: 3px;
      background-color: $primary-color;
      &.green {
        color: lightgreen;
      }
      &.orange {
        color: orange;
      }
      &.red {
        color: red;
      }
    }
  }
}
.overview {
  padding: 15px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  position: absolute;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}
.movie:hover .overview {
  transform: none;
}
